.card{
    margin: 0.5rem 1rem !important;
    width: inherit !important
}
.cardContent{
    padding: 0 16px !important;
}
.media{    
    height: 30rem !important;
    border-radius: 10px !important;
    margin-top: 0.5rem !important;
}
.comments{
    padding: 1rem 1rem 0rem 1rem;
}
.form{
    display: flex !important;
    align-items: center !important;
    margin-top: 0.5rem !important;
    width: -webkit-fill-available;
    justify-content: space-between;
    padding: 0 0.5rem;
}
.textField{
flex: 1;
}
.post{
    flex: none !important;
}